body{
    font-family: sans-serif;
}
.wrapper{
    width: 1200px;
    margin-left: 5rem;
    color: #21243D;
}

#home{
    font-size: 25px;
    color: orange;
    text-decoration: none;
    position: absolute;
    left: 5rem;
    margin-top: 2rem;
  }
  #home:hover{
    border-bottom: 2px solid red;
  }

.box_1{
    display: flex;
    justify-content: space-around;
    width: 1200px;
    position: relative;
    .menu{
        display: flex;
        justify-content: space-around;
        font-size: 20px;
        position: absolute;
        right: -1rem;
        line-height: 29px;
        width: 300px;
        #blog{
            color: red;
        }
        li{
            list-style: none;
            a{
                text-decoration: none;
                color: black;
        }
        a:hover{
            opacity: 0.5;
            border-bottom: 2px solid red;
        }
        }
    }
}

.box_2{
    width: 1000px;
    display: flex;
    justify-content: flex-start;
    margin-left: 5rem;
    margin-top: 8rem;
    .blog{
        font-size: 44px;
        color: #21243D;
    }
}

.box_3{
    width: 1000px;
    margin-left: 5rem;
    margin-top: 2rem;
    #text{
        width: 750px;
        font-size: 16px;
        line-height: 23px;
        margin-top: 2rem;
    }
    h2{
        font-size: 30px;
        padding: 0;
        margin: 0;
    }
    .feb{
        width: 374px;
        height: 34px;
        display: flex;
        justify-content: space-between;
        font-size: 20px;
        line-height: 26px;
        p:nth-child(3){
            padding-right: 2rem;
            opacity: 0.5;
        }
    }
}
#hr{
    width: 870px;
    margin-left: 5rem;
    margin-top: 2rem;
    opacity: 0.5;
    margin-bottom: 3rem;
}

.box_8{   
    .inbox_8{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        width: 1000px;
        margin-left: 5rem;
        padding-top: 4rem;
        .tarmoq{
            width: 300px;
            display: flex;
            justify-content: space-around;
            list-style: none;
            li{
                cursor: pointer;
            }
            li:hover{
                transform: scale(1.1);
                }
            }
        }
        .inbox_9{
            display: flex;
            justify-content: center;
            text-align: center;
            align-items: center;
            margin-bottom: 2rem;
            p{
                font-size: 15px;
                line-height: 21px;
                color: #21243D;
    
            }
        }
    }


//   Responsive lik uchun css code

.container {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .nav_box{
      width: 375px;
      display: none;
        .navbar_box{
            display: flex;
            width: 375px;
            justify-content: space-between;
            position: relative;
            .menu_box{
                display: none;
                position: absolute;
                left: 0;
            }
            .container{
                // padding-left: 20px;
                position: absolute;
                right: 0px;
            }
            .navbar_menu{
                list-style: none;
                width: 315px;
                display: flex;
                justify-content: space-around;
                margin-left: 0;
                padding-left: 0;
                #blog_1{
                    background-color: red;
                    padding: 5px;
                    border-radius: 5px;
                }  
                #blog_1:active{
                    background-color: indigo;
                }
                #blog_2{
                    color: white;
                }
                li{
                    a{
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
  }

  @media (min-width:0px) and (max-width:480px){
    .wrapper{
        width: 375px;
        margin-left: 0;
        box-sizing: border-box;
    }
    
    .box_1{
        width: 375px;
        display: none;
    }
    .nav_box{
        width: 375px;
        display: block;
    }

    .box_2{
        width: 375px;
        margin-left: 0;
        margin-top: 3rem;
        padding: 16px;
        box-sizing: border-box;
        .blog{
            font-size: 30px;
            line-height: 60px;
            width: 62px;
            height: 60px;
        }
    }

    .box_3{
        width: 375px;
        margin-left: 0;
        padding: 16px;
        box-sizing: border-box;
        .feb{
            font-size: 16px;
            line-height: 23px;
            width: 300px;
        }
        h2{
            font-size: 26px;
            line-height: 38px;
        }
        #text{
            width: 339px;
            height: 96px;
            font-size: 16;
        }
    }

    #hr{
        width: 345px;
        margin: 1.2rem 0rem 1rem 16px;
    }

    .box_8{
        width: 365px;
        .inbox_8{
            width: 365px;
            padding: 0;
            margin-left: 0px;
            margin-top: 7rem;
            .tarmoq{
                justify-content: space-around;
                padding-left: 0;
            }
        }
    }

  }

