body{
    font-family: sans-serif;
    color: #21243D;;
}
.wrapper{
    width: 1200px;
    margin-left: 5rem;
}
.box_1{
    display: flex;
    justify-content: space-around;
    width: 1200px;
    position: relative;
    .menu{
        display: flex;
        justify-content: space-around;
        font-size: 20px;
        position: absolute;
        right: -1rem;
        line-height: 29px;
        width: 300px;
        li{
            list-style: none;
            a{
                text-decoration: none;
                color: black;
        }
        a:hover{
            opacity: 0.5;
            border-bottom: 2px solid red;
        }
        }
    }
}

.box_2{
    display: flex;
    justify-content: space-between;
    width: 1000px;
    margin-left: 5rem;
    margin-top: 12rem;
    .inbox_1{
        width: 500px;
    }
    h1{
        font-size: 42px;
    }
    p{
        font-size: 16px;
        line-height: 23px;
    }
    .button{
        background: #FF6464;
        border-radius: 2px;
        color: white;
        width: 180px;
        height: 40px;
        border: none;
        margin-top: 1rem;
        font-size: 16px;
        cursor: pointer;
    }
    .button:active{
        background-color: indigo;
    }
    .inbox_2{
        width: 243px;
        height: 243px;
        border-radius: 50%;
        background-color: #EDF7FA;
        transform: translateY(-1.5rem);
        img{
            width: 243px;
            height: 243px;
            transform: translate(0.6rem, -0.6rem);
        }
    }
}

.incant{
    background-color: #EDF7FA;
    width: 1210px;
    height: 410px;
    margin-top: 5rem;
    .box_3{
        width: 1000px;
        display: flex;
        justify-content: space-between;
        margin-left: 5rem;
        p{
            font-size: 22px;
            padding-top: 1rem;
        }
        a{
            color: #00A8CC;
            font-size: 16px;
            line-height: 23px;
            text-decoration: none;
            margin-top: 2.5rem;
        }
        a:hover{
            color: indigo;
        }
    }
    .box_4{
        width: 1000px;
        display: flex;
        justify-content: space-between;
        margin-left: 5rem;
        .inbox_3{
            width: 418px;
            height: 295px;
            background-color: #FFFFFF;
            border-radius: 4px;
            h2{
                padding-left: 1rem;
                font-size: 26px;
                line-height: 38px;
            }
            .feb{
                width: 374px;
                height: 34px;
                display: flex;
                justify-content: space-around;
                font-size: 18px;
                line-height: 26px;
                p:nth-child(3){
                    padding-right: 4rem;
                }
            }
            .amet{
                width: 368px;
                height: 117px;
                font-size: 16px;
                line-height: 23px;
                padding-left: 1rem;
                padding-top: 1rem;
            }
        }

        .inbox_4{
            width: 418px;
            height: 295px;
            background-color: #FFFFFF;
            border-radius: 4px;
            h2{
                padding-left: 1rem;
                font-size: 26px;
                line-height: 38px;
            }
            .feb{
                width: 374px;
                height: 34px;
                display: flex;
                justify-content: space-around;
                font-size: 18px;
                line-height: 26px;
                p:nth-child(3){
                    padding-right: 4rem;
                }
            }
            .amet{
                width: 368px;
                height: 117px;
                font-size: 16px;
                line-height: 23px;
                padding-left: 1rem;
                padding-top: 1rem;
            }
        }
    }
}

.featured{
    width: 1000px;
    position: relative;
    margin-left: 5rem;
    p{
        position: absolute;
        left: 0;
        font-size: 22px;
        line-height: 60px;
    }
}

.box_5{
    width: 1000px;
    height: 190px;
    display: flex;
    justify-content: space-between;
    margin-left: 5rem;
    margin-top: 7rem;
    .inbox_5{
        transform: translate(-11rem, -2rem);
        width: 550px;
        p{
            transform: translateY(-1.5rem);
        }
    }
    h2{
        font-size: 30px;
        color: #21243D;
    }
    .workdate{
        width: 200px;
        display: flex;
        justify-content: space-between;
        div{
            width: 62px;
            height: 25px;
            background: #142850;
            border-radius: 16px;
            position: relative;
            h4{
                width: 42px;
                font-size: 18px;
                position: absolute;
                transform: translate(0.7rem, -1.3rem);
                color: #FFFFFF;
            }
        }
        h4:nth-child(2){
            font-size: 19px;
            opacity: 0.5;
            transform: translateY(-1.5rem);
        }
    }
}
hr{
    margin-left: 5rem;
    width: 1000px;
    opacity: 0.5;
}

.box_6{
    width: 1000px;
    height: 190px;
    display: flex;
    justify-content: space-between;
    margin-left: 5rem;
    margin-top: 3rem;
    .inbox_6{
        transform: translate(-11rem, -2rem);
        width: 550px;
        p{
            transform: translateY(-1.5rem);
        }
    }
    h2{
        font-size: 30px;
        color: #21243D;
    }
    .workdate{
        width: 200px;
        display: flex;
        justify-content: space-between;
        div{
            width: 62px;
            height: 25px;
            background: #142850;
            border-radius: 16px;
            position: relative;
            h4{
                width: 42px;
                font-size: 18px;
                position: absolute;
                transform: translate(0.7rem, -1.3rem);
                color: #FFFFFF;
            }
        }
        h4:nth-child(2){
            font-size: 19px;
            opacity: 0.5;
            transform: translateY(-1.5rem);
        }
    }
}
#hr_2{
    margin-left: 5rem;
    width: 1000px;
    margin-top: 2rem;
    opacity: 0.5;
}

.box_7{
    width: 1000px;
    height: 190px;
    display: flex;
    justify-content: space-between;
    margin-left: 5rem;
    margin-top: 3rem;
    .inbox_7{
        transform: translate(-11rem, -2rem);
        width: 550px;
        p{
            transform: translateY(-1.5rem);
        }
    }
    h2{
        font-size: 30px;
        color: #21243D;
    }
    .workdate{
        width: 200px;
        display: flex;
        justify-content: space-between;
        div{
            width: 62px;
            height: 25px;
            background: #142850;
            border-radius: 16px;
            position: relative;
            h4{
                width: 42px;
                font-size: 18px;
                position: absolute;
                transform: translate(0.7rem, -1.3rem);
                color: #FFFFFF;
            }
        }
        h4:nth-child(2){
            font-size: 19px;
            opacity: 0.5;
            transform: translateY(-1.5rem);
        }
    }
}
#hr_3{
    margin-left: 5rem;
    width: 1000px;
    margin-top: 2rem;
    opacity: 0.5;
}
.box_8{   
.inbox_8{
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    width: 1000px;
    margin-left: 5rem;
    padding-top: 4rem;
    .tarmoq{
        width: 300px;
        display: flex;
        justify-content: space-around;
        list-style: none;
        li{
            cursor: pointer;
        }
        li:hover{
            transform: scale(1.1);
            }
        }
    }
    .inbox_9{
        display: flex;
        justify-content: center;
        text-align: center;
        align-items: center;
        margin-bottom: 2rem;
        p{
            font-size: 15px;
            line-height: 21px;
            color: #21243D;

        }
    }
}

#home{
    font-size: 25px;
    color: orange;
    text-decoration: none;
    position: absolute;
    left: 5rem;
    margin-top: 2rem;
  }
  #home:hover{
    border-bottom: 2px solid red;
  }

//   Responsive lik uchun css code

  .container {
    display: inline-block;
    cursor: pointer;
  }
  
  .bar1, .bar2, .bar3 {
    width: 35px;
    height: 5px;
    background-color: #333;
    margin: 6px 0;
    transition: 0.4s;
  }
  
  .change .bar1 {
    -webkit-transform: rotate(-45deg) translate(-9px, 6px);
    transform: rotate(-45deg) translate(-9px, 6px);
  }
  
  .change .bar2 {opacity: 0;}
  
  .change .bar3 {
    -webkit-transform: rotate(45deg) translate(-8px, -8px);
    transform: rotate(45deg) translate(-8px, -8px);
  }

  .nav_box{
      width: 375px;
      display: none;
        .navbar_box{
            display: flex;
            width: 375px;
            justify-content: space-between;
            position: relative;
            .menu_box{
                display: none;
                position: absolute;
                left: 0;
            }
            .container{
                // padding-left: 20px;
                position: absolute;
                right: 0px;
            }
            .navbar_menu{
                list-style: none;
                width: 315px;
                display: flex;
                justify-content: space-around;
                margin-left: 0;
                padding-left: 0;
                #home_1{
                    background-color: red;
                    padding: 5px;
                    border-radius: 5px;
                }  
                #home_1:active{
                    background-color: indigo;
                }
                #home_2{
                    color: white;
                }
                li{
                    a{
                        text-decoration: none;
                        color: black;
                    }
                }
            }
        }
  }

// Media query:

@media (min-width: 0px) and (max-width: 480px){


    .wrapper{
        width: 375px;
        margin-left: 0;
        box-sizing: border-box;
    }
    
    .box_1{
        width: 355px;
        display: none;
    }
    .nav_box{
        width: 355px;
        display: block;
    }

    .box_2{
        width: 355px;
        margin-left: 0;
        padding-left: 0;
        display: block;
        position: relative;
        .button{
            width: 208px;
            height: 47px;
            font-size: 20px;
            line-height: 29px;
            margin: 1.8rem 0rem 0rem 5rem;
        }
        .inbox_1{
            width: 355px;
            position: absolute;
            h1{
                font-size: 32px;
                width: 312px;
                text-align: center;
                margin: 7rem 0rem 0rem 2rem;

            }
            p{
                width: 328px;
                line-height: 23.5px;
                font-size: 16px;
                text-align: center;
                margin: 1.8rem 0rem 0rem 1.2rem;
            }
        }
        .inbox_2{
                width: 355px;
                width: 180.86px;
                height: 180.86px;
                position: absolute;
                top: -5rem;
                right: 97px;
                left: 97px;
            img{
                width: 180.86px;
                height: 180.86px;
                transform: translate(0.5rem, -0.5rem);
            }
        }
    }

    .incant{
        width: 375px;
        height: 647px;
        margin-top: 42rem;
        box-sizing: border-box;
        .box_3{
            margin-left: 0;
            width: 355px;
            position: relative;
            p{
                position: absolute;
                left: 3rem;
                top: -1.2rem;
            }
            a{
                display: none;
            }
        }

        .box_4{
            display: block;
            width: 355px;
            margin: 3rem 0rem 0rem 0;
            .inbox_3{
                margin-left: 10px;
                width: 354px;
                height: 266px;
                padding: 0.1rem 0rem;
                margin-top: 1rem;
                transform: translateY(1rem);
                .amet{
                    font-size: 16px;
                    line-height: 23px;
                    width: 314px;
                    height: 117px;
                    padding: 1.5rem 1rem;
                }
                .feb{
                    width: 300px;
                    height: 24px;
                    margin: -0.7rem 0rem 0rem 0.5rem;
                    p{
                        font-size: 16px;
                        line-height: 23px;
                    }
                }
                h2{
                    width: 327px;
                    height: 60px;
                    font-size: 22px;
                    line-height: 30px;
                }
            }

            .inbox_4{
                margin-left: 10px;
                width: 354px;
                height: 266px;
                padding: 0.1rem 0rem;
                margin-top: 2rem;
                .amet{
                    font-size: 16px;
                    line-height: 23px;
                    width: 314px;
                    height: 117px;
                    padding: 1.5rem 1rem;
                }
                .feb{
                    width: 330px;
                    height: 24px;
                    margin: -0.7rem 0rem 0rem 0.5rem;
                    p{
                        font-size: 16px;
                        line-height: 23px;
                    }
                }
                h2{
                    width: 327px;
                    height: 60px;
                    font-size: 22px;
                    line-height: 30px;
                }
            }
        }
    }

    .featured{
        width: 355px;
        text-align: center;
        p{
        font-size: 18px;
        line-height: 60px;
        margin-left: 2.3rem;
        }
    }

    .box_5{
        display: block;
        width: 355px;
        height: 28.5rem;
        margin-left: 0;
        position: relative;
        .inbox_5{
            width: 355px;
            position: absolute;
            transform: translate(0);
            margin-left: 16px;
            p{
                font-size: 16px;
                line-height: 23px;
                width: 344px;
                height: 96px;
                margin-top: -1px;
            }
            .workdate{
                width: 190px;
                font-size: 16px;
                line-height: 23px;
            }
            h2{
                font-size: 24px;
                line-height: 30px;
                width: 355px;
            }
        }
        img{
            width: 339px;
            height: 230px;
            border-radius: 6px;
            margin-left: 16px;
        }
    }

    hr{
        margin-left: 0;
        width: 335px;
        margin: 10px 20px;
    }

    #hr_2{
        margin-left: 0;
        width: 335px;
        margin: 10px 20px; 
    }

    #hr_3{
        margin-left: 0;
        width: 335px;
        margin: 10px 20px;
    }

    .box_6{
        display: block;
        width: 355px;
        height: 28.5rem;
        margin-left: 0;
        position: relative;
        .inbox_6{
            width: 355px;
            position: absolute;
            transform: translate(0);
            margin-left: 16px;
            p{
                font-size: 16px;
                line-height: 23px;
                width: 344px;
                height: 96px;
                margin-top: -1px;
            }
            .workdate{
                width: 190px;
                font-size: 16px;
                line-height: 23px;
            }
            h2{
                font-size: 24px;
                line-height: 30px;
                width: 355px;
            }
        }
        img{
            width: 339px;
            height: 230px;
            border-radius: 6px;
            margin-left: 16px;
        }
    }

    .box_7{
        display: block;
        width: 355px;
        height: 28.5rem;
        margin-left: 0;
        position: relative;
        .inbox_7{
            width: 355px;
            position: absolute;
            transform: translate(0);
            margin-left: 16px;
            p{
                font-size: 16px;
                line-height: 23px;
                width: 344px;
                height: 96px;
                margin-top: -1px;
            }
            .workdate{
                width: 190px;
                font-size: 16px;
                line-height: 23px;
            }
            h2{
                font-size: 24px;
                line-height: 30px;
                width: 355px;
            }
        }
        img{
            width: 339px;
            height: 230px;
            border-radius: 6px;
            margin-left: 16px;
        }
    }

    .box_8{
        width: 365px;
        .inbox_8{
            width: 365px;
            padding: 0;
            margin-left: 0px;
            margin-top: 10rem;
            .tarmoq{
                justify-content: space-around;
                padding-left: 0;
            }
        }
    }
}

